$bg: #1e232c;

.signup {
  background: $bg;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem 2rem;
  color: #ffffff;
  text-align: center;

  form {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    // .role {
    //   width: 100%;
    // }

    input {
      background-color: rgba($color: #ffffff, $alpha: 0.05);
      caret-color: #ffffff;
      outline: none;
      border: none;
      font-size: 1rem;
      width: 25rem;
      padding: 1rem;
      margin: 1rem 0;
      border-radius: 0.53rem;
      -webkit-border-radius: 0.53rem;
      -moz-border-radius: 0.53rem;
      -ms-border-radius: 0.53rem;
      -o-border-radius: 0.53rem;
    }

    button {
      width: 25rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .signup {
    text-align: center;

    form {
      input {
        width: 100% !important;
      }

      button {
        width: 100%;
      }
    }
  }
}
