a {
    color: #ffffff;
}

.primary__btn {
    width: 100%;
    padding: 1rem;
    background-color: #26C77A;
    color: #ffffff;
    transition: 1s ease-in;
    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -ms-transition: 1s ease-in;
    -o-transition: 1s ease-in;
}

.primary__btn:disabled {
    background-color: #26c77992;
}